@font-face {
    font-family: "RobotoCondensed";
    font-weight: 400;
    font-display: fallback;
    src: url("font/Roboto_Condensed/RobotoCondensed-Medium.ttf") format("truetype");
}

body {
    font-family: "RobotoCondensed";
}

.navbar {
    position: fixed;
    overflow: hidden;
    margin: auto;
    bottom: 0;
    right: 0;
    padding: 30px;
    z-index: 999;
}

.navbar-text {
    text-align: right;
}

.navbar-text a {
    text-decoration: none;
    display: block;
    color: #212121;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2.40px;
    line-height: 40px;
    position: relative;
}

.navbar-text a:hover {
    color: white;
    text-shadow: 0 0 20px #212121, 0 0 30px #212121;
}
    
.navbar-logo img {
    width: 20px;
    height: 20px;
    padding-left: 25px;
    padding-top: 15px;
}

.navbar-logo img:hover {
    width: 18px;
    height: 18px;
}

@media only screen and (max-width: 900px) { 
    .navbar {
        display: none;
    }
    /* .navbar {
        padding: 20px;
    }

    .navbar .text {
        font-size: 12px;
        line-height: 20px;
    }
    
    .navbar .logo {
        width: 12px;
        height: 12px;
        padding-top: 7px;
        padding-left: 18px;
    } */
}
