@font-face {
    font-family: "Dosis";
    font-weight: 400;
    font-display: fallback;
    src: url("/fonts/Dosis-Regular.ttf") format("truetype");
}

body, html {
    background-color: #b1a6a4;
    color: white;
    font-family: "Dosis";
    font-style: normal;
    scroll-behavior: smooth;
}


/*Navigation bar*/
.navbar {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    width: 30%;
    right: 0;
}

.navbar ul {
    float: right;
    display: block;
    text-align: right;
    padding: 24px 50px;
    list-style: none;
}

.navbar a {
    color: #413f3d;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    color: #697184;
}


/*Home Page*/
#home-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-wrap: wrap;
	align-content: center;
}

#landing-text {
	max-width: 90%;
	text-align: center;
}

.title {
	max-width: 100%;
    margin-top: 20%;
    margin-bottom: 20%;
    font-family: serif;
    font-size: 7rem;
    line-height: 0;
    color:  #413f3d;
    text-align: center;
    text-shadow: 3px 2px 4px #697184;
}

.subtitle {
    max-width: 100%;
    font-size: 1rem;
    text-align: center;
    color: white;
	max-width: 100%;
    font-family: "Dosis";
    letter-spacing: 2px;
}

.button {
    display: inline-block;
    margin-top: 8%;
    padding: 7px 20px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border: 1.5px solid #413f3d;
    border-radius: 8px;
    box-shadow: 1px 1px 5px #413f3d;  
    transition: 0.4s;
}

.button:hover {
    background-color: #413f3d;
    color: white;
}


/*About Me Page*/
#about-section {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-wrap: wrap;
	align-content: center;
}

#about-description {
    width: 60%;
}

#about-description h1 {
    font-size: 40px;
    font-weight: 900;
    text-align: left;
    letter-spacing: 4px;
    text-shadow: 1px 1px 5px #f2f1efbc;
}

#about-description h2 {
    color: rgba(255, 255, 255, 0.839);
    font-size: 24px;
    font-weight: 400;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 35px;
}

#about-description h2 span {
    color: #697184;
    font-size: 24px;
    font-weight: 900;
}

#about-description h2 span:hover {
    color: white;
}

#about-description h2 ul {
    list-style-type: '>> ';
}

#about-description h2 li::marker {
    color : #697184;
}

#about-description h2 li:hover::marker {
    color : white;
}

#hafi img {
    max-width: 80%;
    height: auto;
    padding: 10px;
    transition: 0.4s;
}

/*Education Page*/
#education-section {
    width: 80%;
    margin: auto;
}

#education-description {
    width: 80%;
}

#education-description h1 {
    font-size: 40px;
    font-weight: 900;
    text-align: left;
    letter-spacing: 4px;
    text-shadow: 1px 1px 5px #f2f1efbc;
}

.university {
    width: 100%;
    display: flex;
	flex-wrap: wrap;
    margin: auto;
}

.university img {
    max-width: 17%;
    height: 15%;
    padding: 18px;
    transition: 0.4s;
}

.education h2 {
    font-size: 21px;
    color: rgba(255, 255, 255, 0.770);
    font-weight: 200;
}

.education h3 {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 2px;
    color: #5b6274;
}

.education h4 {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.770);
    font-weight: 300;
    line-height: 6px;
}


/*Creations Page*/
#creation-section {
    width: 80%;
    margin: auto;
}

#creation-section h1 {
    font-size: 40px;
    font-weight: 900;
    text-align: left;
    letter-spacing: 4px;
    text-shadow: 1px 1px 5px #f2f1efbc;
}

.filter-button {
    display: inline-block;
    margin: 5px;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
	border: 1px solid #413f3d;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #413f3d8b; 
	background-color: rgba(255, 255, 255, 0);
	cursor: pointer;
}

.filter-button:hover {
	background-color: #413f3dc3;
}

.filter-button.active {
	background-color:  #413f3dc3;
	color: rgba(255, 255, 255, 0.864);
}


/*Footer Section*/
#footer-section {
    width: 50%;
    margin: auto;
    text-align: center;
}

#contactme * {
	padding: 5px;
	margin-bottom: 5px;
}

#footer-section h1 {
    font-size: 14px;
}

#footer-section h2 {
    font-size: 14px;
}

#footer-section a {
    text-decoration: none;
    color: #697184;
}

#footer-section a:hover {
    color: white;
}
