@font-face {
    font-family: "RobotoCondensed";
    font-weight: 400;
    font-display: fallback;
    src: url("font/RobotoCondensed-Medium.ttf") format("truetype");
}

body, html {
    background-color: #F8F9FA;
    color: #212121;
    font-family: "RobotoCondensed";
    font-style: normal;
    scroll-behavior: smooth;
}

.hello-section, .about-section,
.education-section, .creation-section {
    height: 745px;
    max-width: 1000px;
    margin: auto;
}


/* Hello Section */
.hello-column {
    padding-top: 100px;
}

.hey, .student {
    text-align: center;
    margin: auto;
    font-size: 40px;
    letter-spacing: 15px;
}

.hafizah {
    -webkit-text-fill-color: #F8F9FA;
    cursor: default;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 0 0 25px;

    h1 {
        position: relative;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-size: 170px;
        font-weight: 700;
        letter-spacing: 50px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        -webkit-text-fill-color: #212121;
    }

    .hafizah__filled {
        position: absolute;
        margin: 0;
        padding: 0;
        font-size: 170px;
        font-weight: 700;
        letter-spacing: 50px;
        text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25), 0px 4px 10px rgba(0, 0, 0, 0.25);
        top: 0;
        clip-path: polygon(0% 100%, 0% 99%, 100% 99%, 100% 100%);
        transition: clip-path 600ms cubic-bezier(0.2, 0.1, 0.15, 1.32);
    }

    &:hover {
        .hafizah__filled {
        clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
        }
    }
}

.typewriter img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 390px;
    height: auto;
    transition: 1s ease;
}

.typewriter img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 500ms ease;
}



/* Title for each section */
.page-title {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 40px;
}

.title-button {
    cursor: default;
    padding: 20px;
    background-color: white;
    border: none;
    border-radius: 100px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    font-family: "RobotoCondensed";
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2.40px;
    text-align: center;
}



/* About Section */
.about-image-content {
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.about-content {
    text-align: justify;
    line-height: 40px;
}

.skills-content-rows {
    line-height: 35px;
    margin-left: -40px;
}

.skills-content-rows ul { 
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, minmax(120px, 30px));
}

.skills-content-rows li {
    position: relative;
    padding-left: 20px;
    font-size: 18px;
}

.skills-content-rows li::before {
    content: "▹   ";
    position: absolute;
    left: 0;
}

.image-content {
    padding-left: 85px;
    position: relative;
    align-items: center;
  }
  
.image-content img {
    max-width: 320px;
    height: auto;
    border-radius: 500px 500px 10px 10px;
    border: 2px rgba(0, 0, 0, 0.5) solid;
    position: absolute;
    margin-left: 17px;
    margin-top: 22px;
    transition: 1s ease;
}

.image-content img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 500ms ease;
}

.image-border {
    width: 354px;
    height: 470px;
    border: 2px rgba(0, 0, 0, 0.5) solid;
    border-radius: 500px 500px 10px 10px;
    background-color: #F8F9FA;
}




/* Education Section */
.education-section {
    margin: auto;
    max-width: 1000px;
    min-height: 50vh;
}

.education-row {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 10px;
}

.education-card {
    position: relative;
    cursor: default;
    display: flex;
    flex-direction: column;
    height: 90%;
    padding: 30px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    align-items: center;
}

.education-card:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-3px);
}

.education-card img {
    width: 170px;
    height: 170px;
}
  
.education-card h2 {
    font-size: 22px;
    height: 55px;
}

.education-card h3 {
    font-size: 18px;
}

.education-card p {
    font-size: 16px;
}




/* Creation Section */
.creation-section {
    margin: auto;
    max-width: 1000px;
    min-height: 50vh;
}

.filter-button {
    display: inline-block;
    margin: 5px;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    background-color: white;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2); 
	cursor: pointer;
}

.filter-button:hover, .filter-button.active {
	background-color: #212121;
    color: white;
    box-shadow: none; 
}

.creation-row {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 10px;
    padding-top: 70px;  
}

.creation-column {
    display: none;
}

.show {
    display: block;
}

.creation-card {
    height: 75%;
    padding: 30px 20px;
    margin-top: 20px;
    position: relative;
    cursor: default;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-align: center;
    background-color: white;
}

.creation-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}

.creation-card h2 {
    font-size: 22px;
}

.creation-card h3 {
    font-size: 16px;
}

.creation-card img {
    width: 26px;
    height: 26px;
}



/* Footer Section */
#footer-section {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.footer-credits {
    text-align: center;
    width: 100%;
}

.footer-logo img {
    width: 20px;
    height: 20px;
    padding: 0px 10px;
}

.footer-section p {
    font-size: 14px;
    opacity: 70%;
}




@media (max-width: 1080px) {
    .hello-column {
        padding-top: 75px;
    }
    .hey, .student {
        font-size: 25px;
        letter-spacing: 3px;
    }
    .hafizah {
        padding: 0;
        h1 {
            font-size: 90px;
            font-weight: 600;
            letter-spacing: 10px;
        }   
        .hafizah__filled {
            font-size: 90px;
            font-weight: 600;
            letter-spacing: 10px;
        }
    } 
    .typewriter img {
        width: 370px;
    }    
}

@media (max-width: 1080px) {
    .about-image-content {
        flex-direction: column;
        align-items: center;
    }      
    .image-content {
        padding: unset;
        padding-top: 30px;
    }       
}

@media (max-width: 1080px) {
    .education-row {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    } 
    .education-card {
        height: 80%;
    }
}

@media (max-width: 1080px) {
    .creation-row {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media (max-width: 1080px) {
    .hello-section, .about-section,
    .education-section, .creation-section {
        display: flex;
        flex-direction: column;
        height: unset;
        padding-left: unset;
        padding-right: unset;
        padding-top: 100px;
        padding: 100px 20px 20px 24px;
    }
}